{% extends "base.html" %}

{% block title %}Panel Administrador{% endblock %}

{% block content %}
<h1 id="titulo_header">Hola {{current_user.first_name}}</h1>
			<section id="contenido">
	    {% if customers %}
	    
	    {% for customer in customers %}
		<div class="item">
			<h2 class="titulo_item">
				<a href="{% url "customerAdminDetail" customer.user.id %}">{{customer.user}}</a>
			</h2>

		</div>
		{% endfor %}
		{% else %}
		    No hay usuarios
		{% endif %}

		<div class="pagination">
    <span class="step-links">
        {% if customers.has_previous %}
            <a href="?page={{ customers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ customers.number }} of {{ customers.paginator.num_pages }}.
        </span>

        {% if customers.has_next %}
            <a href="?page={{ customers.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


	</section>
{% endblock %}


