{% extends "base.html" %}

{% block title %}Detalle de Usuario{% endblock %}

{% block content %}


<section id="contenido">

		<div id="detalle-user">

			<h2 class="titulo_item">
				<a href="#">{{customer.name}}</a>
			</h2>

				<h2 class="titulo_item">
				<a href="#">{{customer.user.username}}</a>
			</h2>

<h3 class="titulo_item">
				<a href="#">{{customer.phone}}</a>
			</h3>
			<h3 class="titulo_item">
				<a href="#">{{customer.movil}}</a>
			</h3>

	<h3 class="titulo_item">
				<a href="#">{{customer.email}}</a>
			</h3>

		</div>
			<section id="proyectos">  
	    

	    <form action="" method="get"> <!-- formulario de filtros y orden -->
        {{ filters.form.as_p }}
        <input type="submit" />
    </form>

{% if proyects %}
	    
	    {% for proyect in proyects %}
		<div class="item">
			<h2 class="titulo_item">
				<a href="{% url "adminProyectDetail" proyect.pk %}">{{proyect.name}}</a>
			</h2>

		</div>
		{% endfor %}
		{% else %}
		    No hay proyectos
		{% endif %}

		<div class="pagination"> <!-- paginacion-->
    <span class="step-links">
        {% if proyects.has_previous %}
            <a href="?page={{ proyects.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ proyects.number }} of {{ proyects.paginator.num_pages }}.
        </span>

        {% if proyects.has_next %}
            <a href="?page={{ proyects.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

	</section>

			
	</section>

{% endblock %}



