{% extends "base.html" %}

{% block title %}Detalle de tu cuenta{% endblock %}

{% block content %}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <!-- Titulo-->
        <h2>Detalles de tu Cuenta</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Ver Detalles Cuenta</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>





<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">






        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Mis datos personales</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: flex;">


<div style="width: 50%;float:left;    text-align: center;">


<img alt="image" class="detalles-cuenta-img" src="{{ STATIC_URL }}img/log.jpg" />

</div>

<div style="width: 50%;float:left;">
                    <div id="contenido_detalle_cuenta">
                        <section id="contenido">
                         
                            <label class="label-cuenta">Nombre de usuario:</label> <span>{{customer.user}}</span>
                       

                        <br>
                             <label class="label-cuenta">Nombre Completo: </label><span>{{customer.name}}</span>
                        <br>
                        
                             <label class="label-cuenta">Teléfono con LADA: </label><span>{{customer.phone}}</span>
                       
<br>
                        
                             <label class="label-cuenta">Celular:</label> <span>{{customer.movil}}</span>
                        
<br>
                        
                             <label class="label-cuenta">Email:</label> <span>{{customer.email}}</span>
                       
                    </section>

                </div>
</div>

            </div>





        </div>
    </div>

    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Mis datos empresariales</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                Ninguno


            </div>





        </div>
    </div>




</div>
<div class="row">



</div>
</div>


{% endblock %}


