<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />

	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, maximum-scale=1" />

	<title>Datos de Usuario </title>
	<link rel="stylesheet" href="#" />
	
</head>
<body>
	<!-- comentario de lo que sea -->
	<header>
		<figure id="logo">
			<img src="#" />
		</figure>
		<h1 id="titulo_header">Detalles del proyecto</h1> <!-- Accedemos al nombre usuario obteniendo de cualquier objeto el usuario -->
	</header>
	
	<section id="contenido">
			<h2 class="titulo_item">
				<a href="#">{{proyects.name}}</a>
			</h2>

<h3 class="titulo_item">
				<a href="#">{{proyects.proyect.description}}</a>
			</h3>
			<h3 class="titulo_item">
				<a href="#">{{proyects.mount}}</a>
			</h3>

	<h3 class="titulo_item">
				<a href="#">{{proyects.type}}</a>
			</h3>

			<h3 class="titulo_item">
				<a href="#">{{proyects.advancepayment}}</a>
			</h3>

			<h3 class="titulo_item">
				<a href="#">{{proyects.remaingpayment}}</a>
			</h3>

			<h3 class="titulo_item">
				<a href="#">{{proyects.status}}</a>
			</h3>

			<h3 class="titulo_item">
				<a href="#">{{proyects.pub_date}}</a>
			</h3>
			<!--  <p class="autor_item">
				Por <a href="#">{{enlace.usuario}}</a>
			</p>-->

			
			
	</section>

	<footer>
	</footer>
</body>
</html>




