{% extends "base.html" %}

{% block title %}Detalle de tu cuenta{% endblock %}

{% block content %}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <!-- Titulo-->
        <h2>Detalles de tu Cuenta</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Ver Detalles Cuenta</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">


<div id="contenido_detalle_cuenta">
<h1 id="titulo_header">Detalle de tu cuenta</h1>
<section id="contenido">
			<h2 class="titulo_item">
				<span>Nombre de usuario: {{customer.user}}</span>
			</h2>

<h3 class="titulo_item">
				<span>Nombre Completo: {{customer.name}}</span>
			</h3>
			<h3 class="titulo_item">
				<span>Teléfono con LADA: {{customer.phone}}</span>
			</h3>

	<h3 class="titulo_item">
				<span>Celular: {{customer.movil}}</span>
			</h3>

			<h3 class="titulo_item">
				<span>Email: {{customer.email}}</span>
			</h3>
	</section>

	</div>



 </div>
            </div>
        </div>
    </div>
    <div class="row">



    </div>


</div>



{% endblock %}


