{% extends "base.html" %}

{% block title %}Panel Cliente{% endblock %}

{% block content %}

{% load sectiontagcustomer %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <!-- Titulo-->
        <h2>Home</h2>
   
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">



<!--<h1 id="titulo_header">Hola {{customer.name}}</h1>-->
			<section id="proyectos">  
	    

	    <form action="" method="get"> <!-- formulario de filtros y orden -->
        {{ filters.form.as_p}}
        <input type="submit" class="btn btn-w-m btn-primary"/>
    </form>
  <!--  {% for obj in filters %}
        {{ obj.name }}<br />
    {% endfor %}-->


{% if proyects %}
	    

<div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h2>Lista de Proyectos</h2>
                                        </div>
                                        <div class="panel-body">
<div class="ibox-content">

                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    
                                    
                                    <th>Nombre de Proyecto</th>
                                    <th>Estado</th>
                                    <th>Progreso</th>
                                </tr>
                                </thead>
                                <tbody>
                                



                              




{% for proyect in proyects %}
	
         <tr>
                                    
                                   
                                    <td><a href="{% url "customerProyectDetail" proyect.pk %}">{{proyect.name}}</a></td>
                                    <td class="text-navy" class="pull-left">{% status_current proyect.status %} </td>
                                    <td class="text-navy" class="pull-left">{{proyect.progress}}% </td>
                                </tr>
{% endfor %}




		{% else %}
		    No hay proyectos
		{% endif %}


  </tbody>
                            </table>
                        </div>
                                                              </div>

                                    </div>



		<div class="pagination"> <!-- paginacion-->
    <span class="step-links">
        {% if proyects.has_previous %}
            <a href="?page={{ proyects.previous_page_number }}"><< Anterior</a>
        {% endif %}

        <span class="current">
            Pagina {{ proyects.number }} de {{ proyects.paginator.num_pages }}.
        </span>

        {% if proyects.has_next %}
            <a href="?page={{ proyects.next_page_number }}"> Siguiente>></a>
        {% endif %}
    </span>
</div>

	</section>


    </div>
            </div>
        </div>
    </div>
    <div class="row">



    </div>


</div>
    
{% endblock %}




