{% extends "base.html" %}

{% block title %}Panel Cliente{% endblock %}

{% block content %}
<h1 id="titulo_header">Hola {{customer.name}}</h1>
			<section id="proyectos">  
	    

	    <form action="" method="get"> <!-- formulario de filtros y orden -->
        {{ filters.form.as_p }}
        <input type="submit" />
    </form>
  <!--  {% for obj in filters %}
        {{ obj.name }}<br />
    {% endfor %}-->
{% if proyects %}
	    
	    {% for proyect in proyects %}
		<div class="item">
			<h2 class="titulo_item">
				<a href="{% url "customerProyectDetail" proyect.pk %}">{{proyect.name}}</a>
			</h2>

		</div>
		{% endfor %}
		{% else %}
		    No hay proyectos
		{% endif %}

		<div class="pagination"> <!-- paginacion-->
    <span class="step-links">
        {% if proyects.has_previous %}
            <a href="?page={{ proyects.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ proyects.number }} of {{ proyects.paginator.num_pages }}.
        </span>

        {% if proyects.has_next %}
            <a href="?page={{ proyects.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

	</section>
{% endblock %}




