{% extends "base.html" %}

{% block title %}Panel Cliente{% endblock %}

{% block content %}

{% load sectiontagcustomer %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <!-- Titulo-->
        <h2>Bienvenid@</h2>
   
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">


 {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button></li>
    {% endfor %}
</ul>
{% endif %}

                        <div class="row">
                           
                            <div class="col-lg-4">
                                 {% if proyects %}
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Proyectos Recientes</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <table class="table table-hover no-margins">
                                            <thead>
                                            <tr>
                                                <th>Nombre</th>  
                                                <th>Progreso</th>
                                                <th>Estado</th>
                                                 

                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for proyect in proyects %}
                                            <tr>
                                               
                                        
                                               <td><a href="{% url "customerProyectDetail" proyect.pk %}">{{proyect.name}}</a></td>
                                    <td class="text-navy" class="pull-left">{{proyect.progress}}% </td>
                                    <td class="text-navy" class="pull-left">{% status_current proyect.status %} </td>
                                                
                                            </tr>
                                          
                                            {% endfor %}
                                          
                                            </tbody>
                                        </table>
                                        {% if proyects.has_next %}
                                       <div class="text-center" style="margin-top: 15px;">
                            <a href="{% url "customerCustomer" %}"><button type="button" class="btn btn-w-m btn-warning">Ver Más</button></a>
                            </div>
           
        {% endif %}
                                    </div>
                                </div>
                                 
        {% else %}
            No hay proyectos
        {% endif %}

                            </div>

                            <div class="col-lg-4">
                                {% if services %}
                                 <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Mis Servicios</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <table class="table table-hover no-margins">
                                            <thead>
                                            <tr>
                                                <th>Nombre</th>  
                                                <th>Vigencia</th>
                                                <th>Estado</th>
                                                 

                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for service in services %}
                                            <tr>
                                               <td><a href="{% url "customerHostingDetail" service.pk %}">{{service.name}}</a></td>
                                    <td class="text-navy" class="pull-left">{{service.next_renew}}% </td>
                                    <td class="text-navy" class="pull-left">{% status_current_hosting service.status %} </td>
                                                
                                            </tr>

                                            {% endfor %}
                                            </tbody>
                                        </table>

                                         {% if services.has_next %}
                                       <div class="text-center" style="margin-top: 15px;">
                            <a href="{% url "hostingCustomer" %}"><button type="button" class="btn btn-w-m btn-warning">Ver Más</button></a>
                            </div>
           
        {% endif %}

                                    </div>
                                </div>

        {% else %}
            No hay Servicios
        {% endif %}

                            </div>

                            <div class="col-lg-4">
                                 <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Pagos Pendientes</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <table class="table table-hover no-margins">
                                            <thead>
                                            <tr>
                                                <th>Nombre</th>  
                                                <th>Monto</th>
                                        
                                            </tr>
                                            </thead>
                                             <tbody>
                                                {% for payment in no_payments %}
                                            <tr>
                                               <td><a href="">{{payment.name}}</a></td>
                                    <td class="text-navy" class="pull-left">{{payment.mount}} </td>

                                                
                                            </tr>

                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
 


</div>
    
{% endblock %}

