{% extends "guest2.html" %}
{% block title %}Paquetes{% endblock %}
{% block content %}

<div class="row wrapper border-bottom white-bg page-heading" style="  margin-left: auto; margin-right: auto; width: 80%; padding-top: 30px;">


<div class="panel panel-default">
<div class="panel-heading">
<h2>Paquetes Email Corporativo</h2>
</div>
<div class="panel-body">
<div class="ibox-content">

   
    
    <!-- Titulo-->

{% for hosting in hosting_packages %}

<div class="col-md-4">

<div class="panel panel-success">
                                        <div class="panel-heading">
                                        <i class="fa fa-info-circle"></i>
                                           {{hosting.name}}
                                        </div>
                                        <div class="panel-body">
<p><b>Descripción:</b></p>
                                            <p>{{hosting.description}}</p>
                                        

 {% for featured in hosting.featureds.all %}
 <hr>
 <p><b>Featured:</b></p>
 {{featured}}
 {% endfor %}
 <hr>
<select>
 <option>Periodo de contrato</option>

 {% for value, text in form.cycle.field.choices %}

        <option value="{{ value }}_{{ hosting.id }}">{{ text }}</option>
    {% endfor %}
</select>
 <p><b>Precio:</b></p>

<div id="precio{{ hosting.id }}"></div>

</div>
                                    </div>

    <form class="m-t" role="form" method='post' enctype='multipart/form-data'>
        {% csrf_token %}
         <input type="hidden" name="hosting" value="{{hosting.id}}" />
        <input type="hidden" name="cycle" id="cycleh{{hosting.id}}" />
                <button type="submit" class="btn btn-primary block full-width m-b" onclick="this.disabled=true;this.value='Enviando espere...';this.form.submit();">Contratar</button>
            </form>
</div>

 {% endfor %}

 </div>
 </div>
</div>

       
        </div>

        <script>


$('select').on('change', inicio);

function inicio(){   

var id = $(this).val();
var res = id.split("_");
var cycle = res[0];
var hosting = res[1];

$.ajax({
     crossDomain: true,
    data : {csrfmiddlewaretoken: '{{ csrf_token }}', 'id':cycle, 'hosting':hosting },
    url: '/customer/email_ajax',
    type: 'post',
     dataType: 'json',
    success: function(data){
        console.log(data);
        var html = ''

        html += '<p>'+data[0].price+'</p>'
        console.log(html);
        console.log(data[2].cycle);

        $('#precio'+data[1].idh+'').html(html);

       var text = $('#cycleh'+data[1].idh+'');
        text.val(data[2].cycle);   


    },

    error: function(data) {
console.log("Data not found");},
});


}


        </script>

       
{% endblock %}    