{% extends "guest.html" %}
{% block title %}Paquetes{% endblock %}
{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <!-- Titulo-->

{% for package in packages %}
 <h2>{{package.name}}</h2>
 <h2>{{package.description}}</h2>
 {% for featured in package.featureds.all %}
 <h2>{{featured}}</h2>
 {% endfor %}
  <h2>{{package.totalprice}}</h2>
    <form class="m-t" role="form" method='post' enctype='multipart/form-data'>
        {% csrf_token %}
         <input type="hidden" name="package" value="{{package.id}}" />
                <button type="submit" class="btn btn-primary block full-width m-b" onclick="this.disabled=true;this.value='Enviando espere...';this.form.submit();">Contratar</button>
            </form>


 {% endfor %}


        </div>
        </div>
{% endblock %}    