{% extends "guest2.html" %}
{% block title %}Paquetes{% endblock %}
{% block content %}

<div class="row wrapper border-bottom white-bg page-heading" style="  margin-left: auto; margin-right: auto; width: 80%; padding-top: 30px;">

{% if proyects %}
  <span style="text-align:center;"><h2><b>Pagos Pendientes Paquetes Web</b></h2></span>
	{% for proyect in proyects %}


    <!-- Titulo-->
    <span style="text-align:center;"><h3><b>Orden de Pedido</b></h3></span>
    <br/>
 <h3>Gracias por su pedido, a continuación se detalla su orden de compra</h3>



                            <div class="well m-t">
                               <div class="row">
                                <div class="col-md-6">    
                                    <div class="text-center">
<p><strong>Paquete contratado:</strong> {{proyect.name}}</p>
 <p><strong>Precio Total:</strong> ${{proyect.mount}}</p></div>
  </div>
 <div class="col-md-6">
    <div class="text-center">
<p>A continuación puede pagar su servicio:</p>

<a href="{% url "ThankYou" proyect.pk %}"><button class="btn btn-primary " type="button"><i class="fa fa-check"></i>&nbsp;Pagar</button></a>

                            </div>


        </div>
    </div>
                            </div>

{% endfor %}

{% endif %}

 <a href="{% url "Packages" %}" target="_parent"><p class="btn btn-success" style="margin-left: 34px;">Contratar otro proyecto</p></a>

{% if services %}
  <span style="text-align:center;"><h2><b>Pagos Pendientes Servicios</b></h2></span>
 {% for service in services %}


    <!-- Titulo-->
    <span style="text-align:center;"><h3><b>Orden de Pedido</b></h3></span>
    <br/>
 <h3>Gracias por su pedido, a continuación se detalla su orden de compra</h3>


                            <div class="well m-t">

                                                               <div class="row">
                                <div class="col-md-6">    
                                    <div class="text-center">
<p><strong>Paquete contratado:</strong> {{service.name}}</p>
 <p><strong>Precio Total:</strong> ${{service.cycleprice}}</p></div>
  </div>
 <div class="col-md-6">
    <div class="text-center">
<p>A continuación puede pagar su servicio:</p>

<a href="{% url "ThankYouService" service.pk %}"><button class="btn btn-primary " type="button"><i class="fa fa-check"></i>&nbsp;Pagar</button></a>

                            </div>


        </div>
    </div>
                            </div>



{% endfor %}
{% endif %}

 <a href="{% url "Services" %}" target="_parent"><p class="btn btn-success" style="margin-left: 34px;">Contratar otro Servicio</p></a>

        </div>
{% endblock %}    