{% extends "guest2.html" %}
{% block title %}Paquetes{% endblock %}
{% block content %}

<div class="row wrapper border-bottom white-bg page-heading" style="  margin-left: auto; margin-right: auto; width: 80%; padding-top: 30px;">

<div style="text-align:center;">
<h2><strong>Selecciona la opción deseada:</strong></h2>
<br>
</div>

<div class="col-md-4 animated pulse" style="text-align:center;">
 <a href="{% url "Packages" %}" target="_parent"><img style="width:90%;" alt="image" class="img-circle" src="{{ STATIC_URL }}paq/web.jpg" /></a>
</div>
<div class="col-md-4 animated pulse" style="text-align:center;">
   <a href="{% url "EmailPackages" %}" target="_parent"><img style="width:90%;" alt="image" class="img-circle" src="{{ STATIC_URL }}paq/dominio.jpg" /></a>
</div>
<div class="col-md-4 animated pulse" style="text-align:center;">
   <a href="#" target="_parent"><img style="width:90%;" alt="image" class="img-circle" src="{{ STATIC_URL }}paq/email.jpg" /></a>
</div>



       
        </div>
{% endblock %}    