{% extends "base.html" %}

{% block title %}Detalle de Dominio{% endblock %}

{% block content %}

{% load tz %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <!-- Titulo-->
        <h2>{{domains.name}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">{{domains.name}}</a>
            </li>
            <li class="active">
                <strong>Detalles de dominio</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>





<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">




<section id="contenido">
			<h1 class="titulo_item">
				<a href="#">{{domains.name}}</a>
			</h2>



<div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <i class="fa fa-info-circle"></i>
                                            Información Basica
                                        </div>
                                        <div class="panel-body">
                                         

                                            <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <i class="fa fa-file-text pull-left"></i>
                                <h5>Descripcion</h5>
                            </div>
                            <div class="ibox-content">
                                <h4 class="no-margins">
                                	{{domains.domainpackage.description}}

                                </h4>
                                
                            </div>
                        </div>



<div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-calendar pull-left"></i>
                                <h5>Fecha de Contrato</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{% timezone "America/Mexico_City" %}{{domains.created_at|date:"M d, Y"}} 
{% endtimezone %}</h2>
                            </div>
                        </div>
 </div>


<div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-calendar pull-left"></i>
                                <h5>Ultima Renovación</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{% timezone "America/Mexico_City" %}{{domains.last_renew|date:"M d, Y"}} 
{% endtimezone %}</h2>
                            </div>
                        </div>
 </div>


<div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-calendar pull-left"></i>
                                <h5>Proxima Renovación</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{% timezone "America/Mexico_City" %}{{domains.next_renew|date:"M d, Y"}} 
{% endtimezone %}</h2>
                            </div>
                        </div>
 </div>

<div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-dollar pull-left"></i>
                                <h5>Precio</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{{domains.cycleprice}}</h2>
                            </div>
                        </div>
 </div>

 <div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-calendar pull-left"></i>
                                <h5>Plazo</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{{domains.billingcycle}}</h2>
                            </div>
                        </div>
 </div>

<div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-clock-o pull-left"></i>
                                <h5>Tiempo Restante</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{{domains.days_left}}</h2>
                            </div>
                        </div>
 </div>


<b>Periodo de contrato:</b>
 <br>
<select class="form-control m-b" style="width: 100%;">
 <option>---------</option>


 {% for value, text in form.cycle.field.choices %}

        <option value="{{ value }}_{{ domain.id }}">{{ text }}</option>
    {% endfor %}
</select>
<p></p>
 <p><b>Precio:</b></p>

<div id="precio{{ domain.id }}"></div>


    <form class="m-t" role="form" method='post' enctype='multipart/form-data'>
        {% csrf_token %}
         <input type="hidden" name="domain" value="{{domain.id}}" />
        <input type="hidden" name="cycle" id="cycled{{domain.id}}" />
                <button type="submit" class="btn btn-primary block full-width m-b" onclick="this.disabled=true;this.value='Enviando espere...';this.form.submit();">Renovar Ahora</button>
            </form>





                                        </div>
                                    </div>



<div class="panel panel-info">
                                        <div class="panel-heading">
                                            <i class="fa fa-info-circle"></i> Información Tecnica
                                        </div>
                                        <div class="panel-body">

 <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-check pull-left"></i>
                                <h5>DNS1</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{{domains.dns1}}</h2>
                            </div>
                        </div>
 </div>


  <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-check pull-left"></i>
                                <h5>DNS2</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{{domains.dns2}}</h2>
                            </div>
                        </div>
 </div>





                                                </div>

                                    </div>








			<!--  <p class="autor_item">
				Por <a href="#">{{enlace.usuario}}</a>
			</p>-->	
			
	</section>

	 </div>
            </div>
        </div>
    </div>
    <div class="row">



    </div>


</div>


<script>


$('select').on('change', inicio);

function inicio(){   

var id = $(this).val();
var res = id.split("_");
var cycle = res[0];
var domain = res[1];
$.ajax({
     crossDomain: true,
    data : {csrfmiddlewaretoken: '{{ csrf_token }}', 'id':cycle, 'domain':domain },
    url: '/customer/domain_ajax',
    type: 'post',
     dataType: 'json',
    success: function(data){
        console.log(data);
        var html = ''

        html += '<p>'+data[0].price+'</p>'
        console.log(html);
        console.log(data[2].cycle);

        $('#precio'+data[1].idh+'').html(html);

       var text = $('#cycled'+data[1].idh+'');
        text.val(data[2].cycle);   


    },

    error: function(data) {
console.log("Data not found");},
});


}


        </script>


{% endblock %}