
{% extends "base.html" %}

{% block title %}Disponibilidad de Dominio{% endblock %}

{% block content %}
{% load tz %}
<script src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <!-- Titulo-->
        <h2>Información Importante</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Detalles de hosting</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
       
            <div class="ibox-content m-b-sm border-bottom">
                            <div class="text-center p-lg">
                                <h2>Debido a que usted no cuenta con dominio procederemos a registrar uno nuevo:</h2>
                        </div>

                        <form id="signupForm"  class="m-t" role="form" method='post' enctype='multipart/form-data'>
        {% csrf_token %}
<div class="form-group"><label class="control-label">Escriba su nombre de dominio por favor:</label><div class="col-sm-12"><input id="domain" type="text" name="domain" placeholder="ejemplo: sudominio" class="form-control"></div></div>
<div class="text-center p-lg">
    <label class="label-control">Por favor marque la terminaciones de su interes</label></br>
<input type="checkbox" id="checkbox1" name="com" value="com"><span class="tld">.com</span>
<input type="checkbox" id="checkbox2" name="commx" value="commx"><span class="tld">.com.mx</span>
<input type="checkbox" id="checkbox3" name="biz" value="biz"><span class="tld">.biz</span>
<input type="checkbox" id="checkbox4" name="org" value="org"><span class="tld">.org</span>
<input type="checkbox" id="checkbox5" name="edumx" value="edumx"><span class="tld">.edu.mx</span>
</div>
<div class="input_fields_wrap">
</div>

<div class="form-group">
                                <div class="col-sm-12 col-sm-offset-5">
                                    <div class="checkbox">
                                        <label>
                                            <input type="hidden" id="onecheck" name="onecheck" value="1" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                <button name="domain" id="submit" type="submit" class="btn btn-primary block full-width m-b" name="signup1" value="Sign up">Consultar</button>




            </form>

            {% if d %}
 <form class="m-t" role="form" method='post' enctype='multipart/form-data'>
    {% csrf_token %}
<section id="contenido">

<div class="text-center p-lg">
<h2>Resultados</h2></br>
 <label class="label-control">Por favor seleccione el dominio que desea registrar:</label></br>
<div class="hr-line-dashed"></div>
{% for key,value in d.items reversed %}

{% if value == "Disponible" %}
  <input type="radio" name="registro" value="{{ key }}" ><label class="label-cuenta">{{ key }}</label> <span class="label label-info">{{ value }}</span>
<div class="hr-line-dashed"></div>
{% else %}
<label class="label-cuenta">{{ key }}</label> <span class="label label-danger">{{ value }}</span>
<div class="hr-line-dashed"></div>
{% endif %}

{% endfor %}
     </div>
</section>
<button  name="registro" type="submit" class="btn btn-primary block full-width m-b" onclick="this.disabled=true;this.value='Enviando espere...';this.form.submit();">Siguiente</button>
</form>
{% endif %}



     </div>
</div>

</div>

<script>



function addhidden(id){ //Function to add new hidden field with domain value
var wrapper = $(".input_fields_wrap"); //Fields wrapper
//console.log(id)
if($(id).is(":checked")) {
    $('#onecheck').val(1); 
            var dom = $('#domain').val()
            var arr = dom.split('.');
            if(arr[1] !== undefined && arr[2] == undefined) //Verfied if is one level tld
            {
            $(wrapper).append('<div><input type="hidden" id ="domain'+arr[1]+'" name="domains" value="'+arr[0]+'.'+arr[1]+'" /></div>');
            }

             if(arr[1] !== undefined && arr[2] !== undefined ) //Verfied if is two level tld
            {  

        var dominio = arr[1] +'.'+ arr[2];
        $(wrapper).append('<div><input type="hidden" id ="domain'+arr[1]+arr[2]+'" name="domains" value="'+arr[0]+'.'+dominio+'" /></div>');
               }  

        }
        
 }


$("#submit").click(function () { //Verified if a least one checkbox is select on submit, if not validate field onecheck is set to 0

    if(!$('#checkbox1').is(":checked") && !$('#checkbox2').is(":checked") && !$('#checkbox3').is(":checked") && !$('#checkbox4').is(":checked") && !$('#checkbox5').is(":checked")){
        $('#onecheck').val(0);  
        }

     });




//setup before functions
var typingTimer;                //timer identifier
var doneTypingInterval = 1000;  //time in ms, 5 second for example
var $input = $('#domain');

//on keyup, start the countdown
$input.on('keyup', function () {
  clearTimeout(typingTimer);
  typingTimer = setTimeout(doneTyping, doneTypingInterval);
});

//on keydown, clear the countdown 
$input.on('keydown', function () {
  clearTimeout(typingTimer);
});

//user is "finished typing," do something
function doneTyping () { //this function is executed when user finished typing, one second later
  
  //console.log('finish');
 var dom = $('#domain').val()
    var arr = dom.split('.'); //Split value of domain field with point  and save in array
   //Options of domain saved in array 
   if(arr[0] !== undefined && arr[1] !== undefined && arr[2] == undefined ) // 1 1 0 
    { 
        $( ".input_fields_wrap").empty(); //Clear hidden fields
        $('#checkbox1').prop('checked', false); //clear all checkboxes
        $('#checkbox2').prop('checked', false);
        $('#checkbox3').prop('checked', false);
        $('#checkbox4').prop('checked', false);
        $('#checkbox5').prop('checked', false);

                if(arr[1] == 'com'){ //Verfied typed TLD
                    //console.log(arr[1])
                $('#checkbox1').prop('checked', true);
                addhidden('#checkbox1');
                }

                if(arr[1] == 'biz'){
                $('#checkbox3').prop('checked', true);
                addhidden('#checkbox3');
                }
                 if(arr[1] == 'org'){
                $('#checkbox4').prop('checked', true);
                addhidden('#checkbox4');
                }

            }



    if(arr[0] !== undefined && arr[1] !== undefined && arr[2] !== undefined ) // 1 1 1
    { 
            $( ".input_fields_wrap").empty();
            $('#checkbox1').prop('checked', false);
            $('#checkbox2').prop('checked', false);
            $('#checkbox3').prop('checked', false);
            $('#checkbox4').prop('checked', false);
            $('#checkbox5').prop('checked', false);
             
            if(arr[1] == 'com' && arr[2] == 'mx' ){
                $('#checkbox2').prop('checked', true);
                $('#checkbox1').prop('checked', false);
                addhidden('#checkbox2');
              
                }
                  if(arr[1] == 'edu' && arr[2] == 'mx' ){
                $('#checkbox5').prop('checked', true);
                addhidden('#checkbox5');
                
                }


            }


    if(arr[0] !== undefined && arr[1] == undefined && arr[2] == undefined ) // 1 0 0 
    { 
            $( ".input_fields_wrap").empty();
            $('#checkbox1').prop('checked', false);
            $('#checkbox2').prop('checked', false);
            $('#checkbox3').prop('checked', false);
            $('#checkbox4').prop('checked', false);
            $('#checkbox5').prop('checked', false);


            }
            
if(arr[0] == undefined && arr[1] == undefined && arr[2] == undefined ) // 0 0 0 
    { 
            $( ".input_fields_wrap").empty();
            $('#checkbox1').prop('checked', false);
            $('#checkbox2').prop('checked', false);
            $('#checkbox3').prop('checked', false);
            $('#checkbox4').prop('checked', false);
            $('#checkbox5').prop('checked', false);   

            }



}



$( "#domain" ).on( "keyup", split );

function split(){   //Function to check automatic checboxed with typed domain

    var dom = $('#domain').val()
    var arr = dom.split('.');

    if(arr[1] !== undefined && arr[2] == undefined )
            { 
                if(arr[1] == 'com'){
                $('#checkbox1').prop('checked', true);
                }
                else{
                $('#checkbox1').prop('checked', false);
                }

                if(arr[1] == 'biz'){
                $('#checkbox3').prop('checked', true);
                }
                else{
                $('#checkbox3').prop('checked', false);
                }

                 if(arr[1] == 'org'){
                $('#checkbox4').prop('checked', true);
                }
                else{
                $('#checkbox4').prop('checked', false);
                }


            }


         if(arr[1] !== undefined && arr[2] !== undefined )
            {  
                if(arr[1] == 'com' && arr[2] == 'mx' ){
                $('#checkbox2').prop('checked', true);
                $('#checkbox1').prop('checked', false);
              
                }
                else{
                $('#checkbox2').prop('checked', false);
                
                }

                  if(arr[1] == 'edu' && arr[2] == 'mx' ){
                $('#checkbox5').prop('checked', true);
                
                }
                else{
                $('#checkbox5').prop('checked', false);
                
                }
            }
            


}


$(document).ready(function() { //function to add hidden domain field with manual checkboxes
    //set initial state.
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    $('#checkbox1').change(function() {
        //console.log(this.value)
        if($(this).is(":checked")) {
            $('#onecheck').val(1); 
            var dom = $('#domain').val();
            var arr1 = dom.split('.');
            console.log(arr1[0]);
            if(arr1[1])
            {

            }
            $(wrapper).append('<div><input type="hidden" id ="domaincom" name="domains" value="'+arr1[0]+'.com'+'" /></div>');
        }
        
        if(!$(this).is(":checked")) {
            $('#domaincom').parent('div').remove();
           
        }
    
    });

        $('#checkbox2').change(function() {
            $('#onecheck').val(1); 
        //console.log(this.value)
        if($(this).is(":checked")) {
            var dom = $('#domain').val();
            var arr1 = dom.split('.');
            $(wrapper).append('<div><input type="hidden" id ="domaincommx" name="domains" value="'+arr1[0]+'.com.mx'+'" /></div>');
        }
        
        if(!$(this).is(":checked")) {
            $('#domaincommx').parent('div').remove();
            

        }
    
    });

            $('#checkbox3').change(function() {
                $('#onecheck').val(1); 
        //console.log(this.value)
        if($(this).is(":checked")) {
            var dom = $('#domain').val()
            var dom = $('#domain').val();
            var arr1 = dom.split('.');
            $(wrapper).append('<div><input type="hidden" id ="domainbiz" name="domains" value="'+arr1[0]+'.biz'+'" /></div>');
        }
        
        if(!$(this).is(":checked")) {
            $('#domainbiz').parent('div').remove();
            
        }
    
    });

                $('#checkbox4').change(function() {
                    $('#onecheck').val(1); 
        //console.log(this.value)
        if($(this).is(":checked")) {
            var dom = $('#domain').val()
           var dom = $('#domain').val();
            var arr1 = dom.split('.');
            $(wrapper).append('<div><input type="hidden" id ="domainorg" name="domains" value="'+arr1[0]+'.org'+'" /></div>');
        }
        
        if(!$(this).is(":checked")) {
            $('#domainorg').parent('div').remove();
           
        }
    
    });

                $('#checkbox5').change(function() {
                    $('#onecheck').val(1); 
        //console.log(this.value)
        if($(this).is(":checked")) {
            var dom = $('#domain').val()
            var dom = $('#domain').val();
            var arr1 = dom.split('.');
            $(wrapper).append('<div><input type="hidden" id ="domainedumx" name="domains" value="'+arr1[0]+'.edu.mx'+'" /></div>');
        }
        
        if(!$(this).is(":checked")) {
            $('#domainedumx').parent('div').remove();
          
        }
    
    });


});


        </script>


        <script type="text/javascript">
        
        $.validator.setDefaults({ 
    ignore: [],
    // any other default options and/or rules
});

        $( document ).ready( function () {
            $( "#signupForm" ).validate( {
                rules: {
                    domain: "required",
                    onecheck: {
                    required: true,  
                     range: [1, 1] 
                    }
                   
                },
                messages: {
                    domain: "Por favor ingresa un nombre de dominio",
                    onecheck: "Por favor selecciona al menos una opcion de dominio"
                },
                errorElement: "em",
                errorPlacement: function ( error, element ) {
                    // Add the `help-block` class to the error element
                    error.addClass( "help-block" );

                    if ( element.prop( "type" ) === "hidden" ) {
                        error.insertBefore( element.parent( "label" ) );
                    } else {
                        error.insertAfter( element );
                    }
                },
                highlight: function ( element, errorClass, validClass ) {
                    $( element ).parents( ".col-sm-12" ).addClass( "has-error" ).removeClass( "has-success" );
                },
                unhighlight: function (element, errorClass, validClass) {
                    $( element ).parents( ".col-sm-12" ).addClass( "has-success" ).removeClass( "has-error" );
                }
            } );

        
        } );
    </script>




{% endblock %}