{% extends "base.html" %}

{% block title %}Detalle de Dominio{% endblock %}

{% block content %}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <!-- Titulo-->
        <h2>{{domains.name}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">{{domains.name}}</a>
            </li>
            <li class="active">
                <strong>Detalles de dominio</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>





<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">




<section id="contenido">
			<h1 class="titulo_item">
				<a href="#">{{domains.name}}</a>
			</h2>



<div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <i class="fa fa-info-circle"></i>
                                            Información Basica
                                        </div>
                                        <div class="panel-body">
                                         

                                            <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <i class="fa fa-file-text pull-left"></i>
                                <h5>Descripcion</h5>
                            </div>
                            <div class="ibox-content">
                                <h4 class="no-margins">
                                	{{domains.domainpackage.description}}

                                </h4>
                                
                            </div>
                        </div>



<div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-calendar pull-left"></i>
                                <h5>Fecha de Contrato</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{{domains.created_at}}</h2>
                            </div>
                        </div>
 </div>


<div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-calendar pull-left"></i>
                                <h5>Ultima Renovación</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{{domains.last_renew}}</h2>
                            </div>
                        </div>
 </div>


<div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-calendar pull-left"></i>
                                <h5>Proxima Renovación</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{{domains.next_renew}}</h2>
                            </div>
                        </div>
 </div>

<div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-dollar pull-left"></i>
                                <h5>Precio</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{{domains.cycleprice}}</h2>
                            </div>
                        </div>
 </div>

 <div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-calendar pull-left"></i>
                                <h5>Plazo</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{{domains.billingcycle}}</h2>
                            </div>
                        </div>
 </div>

<div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-clock-o pull-left"></i>
                                <h5>Tiempo Restante</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">365 días para renovar</h2>
                            </div>
                        </div>
 </div>


<a href="#"><button type="button" class="btn btn-success  btn-primary">Renovar Ahora</button></a>









                                        </div>
                                    </div>



<div class="panel panel-info">
                                        <div class="panel-heading">
                                            <i class="fa fa-info-circle"></i> Información Tecnica
                                        </div>
                                        <div class="panel-body">

 <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-check pull-left"></i>
                                <h5>DNS1</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{{domains.dns1}}</h2>
                            </div>
                        </div>
 </div>


  <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-check pull-left"></i>
                                <h5>DNS2</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{{domains.dns2}}</h2>
                            </div>
                        </div>
 </div>





                                                </div>

                                    </div>








			<!--  <p class="autor_item">
				Por <a href="#">{{enlace.usuario}}</a>
			</p>-->	
			
	</section>

	 </div>
            </div>
        </div>
    </div>
    <div class="row">



    </div>


</div>

{% endblock %}