{% extends "base.html" %}

{% block title %}Detalle de Hospedaje{% endblock %}

{% block content %}
{% load tz %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <!-- Titulo-->
        <h2>{{hostings.name}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">{{hostings.name}}</a>
            </li>
            <li class="active">
                <strong>Detalles de hosting</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">




<section id="contenido">
			<h1 class="titulo_item">
				<a href="#">{{hostings.name}}</a>
			</h2>



<div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <i class="fa fa-info-circle"></i>
                                            Información Basica
                                        </div>
                                        <div class="panel-body">
                                         
<div class="col-lg-6">
                                            <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <i class="fa fa-file-text pull-left"></i>
                                <h5>Dominio</h5>
                            </div>
                            <div class="ibox-content">

                                {% if hostings.domain %}

                                <h4 class="no-margins">
                                    {{hostings.domain}}

                                </h4>
                                {% else %}
<div class="alert alert-danger">Por favor seleccione su dominio <a class="alert-link" href="{% url "customerHostingActiveS1" hostings.pk %}">Seleccionar</a>
                            </div>

                                {% endif %}
                               
                                
                            </div>
                        </div>

</div>

<div class="col-lg-6">
                                            <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <i class="fa fa-file-text pull-left"></i>
                                <h5>Descripcion</h5>
                            </div>
                            <div class="ibox-content">
                                <h4 class="no-margins">
                                    {{hostings.hostingpackage.description}}

                                </h4>
                                
                            </div>
                        </div>

</div>
<div class="ibox-content"></div>
<div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-calendar pull-left"></i>
                                <h5>Fecha de Contrato</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{% timezone "America/Mexico_City" %}{{hostings.created_at|date:"M d, Y"}} 
{% endtimezone %}</h2>
                            </div>
                        </div>
 </div>


<div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-calendar pull-left"></i>
                                <h5>Ultima Renovación</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{% timezone "America/Mexico_City" %}{{hostings.last_renew|date:"M d, Y"}} 
{% endtimezone %}</h2>
                            </div>
                        </div>
 </div>


<div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-calendar pull-left"></i>
                                <h5>Proxima Renovación</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{% timezone "America/Mexico_City" %}{{hostings.next_renew|date:"M d, Y"}} 
{% endtimezone %}</h2>
                            </div>
                        </div>
 </div>

<div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-dollar pull-left"></i>
                                <h5>Precio</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{{hostings.cycleprice}}</h2>
                            </div>
                        </div>
 </div>

 <div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-calendar pull-left"></i>
                                <h5>Plazo</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{{hostings.billingcycle}}</h2>
                            </div>
                        </div>
 </div>

<div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-clock-o pull-left"></i>
                                <h5>Tiempo Restante</h5>
                            </div>
                            <div class="ibox-content">
                                <h2 class="no-margins">{{hostings.days_left}}</h2>
                            </div>
                        </div>
 </div>



<b>Periodo de contrato:</b>
 <br>
<select class="form-control m-b" style="width: 100%;">

 {% for value, text in form.cycle.field.choices %}

        <option value="{{ value }}_{{ hosting.id }}">{{ text }}</option>
    {% endfor %}
</select>
<p></p>
 <p><b>Precio:</b></p>

<div id="precio{{ hosting.id }}"></div>


    <form class="m-t" role="form" method='post' enctype='multipart/form-data'>
        {% csrf_token %}
         <input type="hidden" name="hosting" value="{{hosting.id}}" />
        <input type="hidden" name="cycle" id="cycleh{{hosting.id}}" />
                <button type="submit" class="btn btn-primary block full-width m-b" onclick="this.disabled=true;this.value='Enviando espere...';this.form.submit();">Renovar Ahora</button>
            </form>











                                        </div>
                                    </div>



<div class="panel panel-warning">
                                        <div class="panel-heading">
                                            <i class="fa fa-info-circle"></i> Información Tecnica
                                        </div>
                                        <div class="panel-body">

 <div class="col-lg-6">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <i class="fa fa-folder-open-o"></i> Hospedaje
                                        </div>
                                        <div class="panel-body">
                                           	<h3 class="titulo_item">
				Panel Hospedaje: {{hostings.hosting_panel}}
			</h3>
				<h3 class="titulo_item">
				Password Hospedaje: {{hostings.hosting_password}}
			</h3>
				<h3 class="titulo_item">
				Acceso Webmail: {{hostings.webmail}} 
			</h3>
                                        </div>
                                    </div>
                                </div>




 <div class="col-lg-6">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <i class="fa fa-folder-open-o"></i> Conexión FTP
                                        </div>
                                        <div class="panel-body">
                       <h3 class="titulo_item">
				FTP Server: {{hostings.ftp_server}}
			</h3>
<h3 class="titulo_item">
				FTP Port: {{hostings.ftp_port}}
			</h3>

<h3 class="titulo_item">
				FTP Password: {{hostings.ftp_password}}
			</h3>
                                        </div>
                                    </div>
                                </div>




                                                </div>

                                    </div>








			<!--  <p class="autor_item">
				Por <a href="#">{{enlace.usuario}}</a>
			</p>-->	
			
	</section>

	 </div>
            </div>
        </div>
    </div>
    <div class="row">



    </div>
</div>

</div>








<script>


$('select').on('change', inicio);
$( document ).ready( inicio )

function inicio(){   

var id = $('select').val();
var res = id.split("_");
var cycle = res[0];
var hosting = res[1];
$.ajax({
     crossDomain: true,
    data : {csrfmiddlewaretoken: '{{ csrf_token }}', 'id':cycle, 'hosting':hosting },
    url: '/customer/email_ajax',
    type: 'post',
     dataType: 'json',
    success: function(data){
        console.log(data);
        var html = ''

        html += '<p>'+data[0].price+'</p>'
        console.log(html);
        console.log(data[2].cycle);

        $('#precio'+data[1].idh+'').html(html);

       var text = $('#cycleh'+data[1].idh+'');
        text.val(data[2].cycle);   


    },

    error: function(data) {
console.log("Data not found");},
});


}


        </script>





{% endblock %}


