{% extends "base.html" %}

{% block title %}Detalle de Proyecto {% endblock %}

{% block content %}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <!-- Titulo-->
        <h2>Hospedajes</h2>
   
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">



<!--<h1 id="titulo_header">Hola {{customer.name}}</h1>-->
            <section id="servicios">  
        

        <form action="" method="get"> <!-- formulario de filtros y orden -->
        {{ filters.form.as_p}}
        <input type="submit" class="btn btn-w-m btn-primary"/>
    </form>
  <!--  {% for obj in filters %}
        {{ obj.name }}<br />
    {% endfor %}-->


{% if hostings %}
        

<div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h2>Planes de Hospedaje</h2>
                                        </div>
                                        <div class="panel-body">
<div class="ibox-content">

                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    
                                    
                                    <th>Nombre de servicios</th>
                                    <th class="tablecolumnhosting">Estado</th>
                                    <th>Vigencia</th>
                                    <th class="tablecolumnhosting">Plazo</th>
                                    <th>Precio</th>
                                </tr>
                                </thead>
                                <tbody>
                                



                              




{% for hosting in hostings %}
    
         <tr>
                                    
                                
                                   <td><a href="{% url "customerHostingDetail" hosting.pk %}">{{hosting.name}}</a></td>
                                    <td class="tablecolumnhosting">{{hosting.status}} </td>
                                    <td>{{hosting.next_renew}} </td>
                                    <td class="tablecolumnhosting">{{hosting.billingcycle}} </td>
                                    <td>{{hosting.cycleprice}} </td>
                                </tr>
{% endfor %}




        {% else %}
            <div class="alert alert-warning payments">
                             No hay hosting contratado.
                            </div>
        {% endif %}


  </tbody>
                            </table>
                      
        <div class="pagination"> <!-- paginacion-->
    <span class="step-links">
        {% if hostings.has_previous %}
            <a href="?page={{ hostings.previous_page_number }}"><< Anterior</a>
        {% endif %}

        <span class="current">
            Pagina {{ hostings.number }} de {{ hostings.paginator.num_pages }}.
        </span>

        {% if hostings.has_next %}
            <a href="?page={{ hostings.next_page_number }}"> Siguiente>></a>
        {% endif %}
    </span>
</div>

  </div>
                                                              </div>

                                    </div>



    </section>


    </div>
            </div>
        </div>
    </div>
    <div class="row">



    </div>

</div>
</div>
    
{% endblock %}



