{% extends "guest.html" %}
{% block title %}Accede a Ticsup{% endblock %}
{% block content %}

{% if form.errors %}
<p>Error</p>
{% endif %}



  <p class="m-t"> <small>Para tu comodidad puedes acceder fácilmente con tu cuenta de Facebook o Twitter</small> </p>

<h3>Ingresa con Facebook</h3>
      <a class="button zocial facebook" href="http://localhost:8000/accounts/login/facebook/"> Accede con Facebook</a>

      <h3>Ingresa con Twitter</h3>
      <a class="button zocial twitter" href="http://localhost:8000/accounts/login/twitter/">  Accede con Twitter</a>

  <p class="m-t"> <small>Si no tienes Facebook o Twitter, regístrate para ingresar</small> </p>
<h3>Registrate en Ticsup</h3>
            <p>Ingresa los siguientes datos</p>
            <form class="m-t" role="form" method='post' enctype='multipart/form-data'>
        {% csrf_token %}
                 {{ form.as_p }}
                <div class="form-group">
                        <div class="checkbox i-checks"><label> <input type="checkbox"><i></i>Acepto los términos y condiciones</label></div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Registrar</button>

                <p class="text-muted text-center"><small>Ya tienes una cuenta con nosotros?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="{% url "custom_login" %}">Accede</a>
            </form>


{% endblock %}    