{% extends "guest.html" %}
{% block title %}Información Adicional{% endblock %}
{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <!-- Titulo-->
        <h2>{{package.name}}</h2>


 <form class="m-t" role="form" method='post' enctype='multipart/form-data'>
        {% csrf_token %}
                <button type="submit" class="btn btn-primary block full-width m-b">Siguiente</button>
            </form>


        </div>
        </div>
{% endblock %}    