{% extends "guest.html" %}
{% block title %}Agregar Proyecto{% endblock %}
{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <!-- Titulo-->
     <h3>Tu plan seleccionado es</h3>
        <h2>{{package.name}}</h2>
        <h2>{{package.description}}</h2>
                 <h3>Caracteristicas:</h3>
 {% for featured in featureds %}
 <h2>{{featured.name}}</h2>
 {% endfor %}
 <h3>Costo:</h3>
        <h2>{{package.totalprice}}</h2>

 <form class="m-t" role="form" method='post' enctype='multipart/form-data'>
        {% csrf_token %}
                <button type="submit" class="btn btn-primary block full-width m-b">Siguiente</button>
            </form>


        </div>
        </div>
{% endblock %}    