div#contenido_editar_cuenta {
padding-top: 20px;
}

#contenido_editar_cuenta label {
font-size: 20px;
}

#contenido_editar_cuenta ul {
list-style-type: none;
}

div#postman {
text-align: justify;
}

#postman input {
margin-bottom: 10px;
}

#postman th {
vertical-align: middle;
}

#realizar_pago ul {
list-style-type: none;
}

table#pm_messages {
width: 100%;
margin-top: 20px;
}

#pm_messages th {
background-color: aliceblue;
}

#proyectos form {
  display: inline-flex;
}