{% extends "base.html" %}

{% block title %}Información Importante{% endblock %}

{% block content %}
{% load tz %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <!-- Titulo-->
        <h2>Información Importante</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Detalles del proyecto</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
       
            <div class="ibox-content m-b-sm border-bottom">
                            <div class="text-center p-lg">
                                <h2>Debido a que usted ya cuenta con dominio debera actualizar los DNS para poder vincularlo a su proyecto contratado:</h2>
                                <span>DNS1: ns1.serverticsup.com</span>
                                <br>
                                <span>DNS2: ns2.serverticsup.com</span>
                        </div>

                        <h3>Instrucciones:</h3>
            

     </div>
  <form  class="m-t" role="form" method='post' enctype='multipart/form-data'>
{% csrf_token %}    
  <button name="next" id="submit" type="submit" class="btn btn-primary block full-width m-b" value="next">Siguiente</button>
    </form>
</div>

</div>




{% endblock %}

