{% extends "base.html" %}

{% block title %}Panel Cliente{% endblock %}

{% block content %}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <!-- Titulo-->
        <h2>Mis notificaciones</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">


{% if notifications %}
    <ul class="notifications">
  {% for notice in notifications %}
    {% include 'notifications/notice.html' %}
  {% endfor %}
</ul>


 {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><< Anterior</a>
                {% endif %}
                <span class="page-current">
                   || Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}. ||
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente >></a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <p>No Hay notificaciones</p>
{% endif %}


        </div>
    </div>
</div>
</div>
<div class="row">



</div>
</div>

</div>



{% endblock %}