{% extends "base.html" %}

{% block title %}Detalle de Proyecto {% endblock %}
{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <!-- Titulo-->
        <h2>{{proyects.name}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">{{proyects.name}}</a>
            </li>
            <li class="active">
                <strong>Opciones de proyecto</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

<div class="panel panel-success">
                                        <div class="panel-heading">
                                            Datos del Proyecto
                                        </div>
                                        <div class="panel-body">
                                        <section id="opciones_proyecto">
                                            
{% if content %}

<h5 class="titulo_item">
                Si sus datos son correctos de clic en siguiente, si no puede modificarlos. 
            </h5>

            {% else %}<h4 class="titulo_item">Por favor llena los siguientes datos</h4>
            {% endif %}

      <form id='formulario' method='post' enctype='multipart/form-data'>
{% csrf_token %}
<ul>
  {{ form.as_ul}}
</ul>
<h3>Archivos Adicionales:</h3>
<span class="filedes">Puede seleccionar archivos o contenidos que sean de utilidad en la construcción de su proyecto, como logotipo (indispensable), curriculum, etc.</span>
  <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Agregar Archivos...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input class="fileupload" type="file" name="file" multiple>
    </span>

  <p><input type='submit' name="save" value='Guardar' class="btn btn-w-m btn-primary"/></p>
                                    
  </form>
<br>
    <br>
    <!-- The global progress bar -->
<div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div  class="files"></div>
    <br>

          <div class="pm_attachments">
          <span>Adjuntos</span>


          <table role="presentation" class="table table-striped"><tbody class="files">
            {% for a in files %}
            <tr class="template-download fade in">
        <td>
            <p class="name">
               <a href="{{ a.attachment.file.url }}" target="_blank">{{ a.attachment.file.url}}</a>
            </p>
            
        </td>
        <td>
            <span class="size">1.50 MB</span>
        </td>
        <td>
           <form id='deletefile' method='post' enctype='multipart/form-data'>
        {% csrf_token %}
     <input type="hidden" name="fileid" value="{{ a.attachment.id}}" />
            <button class="btn btn-danger delete" data-type="" data-url="" button type="submit" name="deletefile">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Borrar</span>
            </button></form>
        </td>
    </tr>
            {% endfor %}
</tbody></table>

        </div>




</section>
                                        </div>
                                    </div>



<div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <i class="fa fa-gear"></i>
                                            Opciones de Proyecto
                                        </div>
                                        <div class="panel-body">
                                            <button type="button" class="btn btn-block btn-outline btn-primary"><a href="{% url "customerProyectSections" proyects.pk %}">Enviar secciones</a></button>
                                          
                                        </div>
                                    </div>





<div class="panel panel-info">
                                        <div class="panel-heading">
                                            <i class="fa fa-info-circle"></i> Detalles del proyecto
                                        </div>
                                        <div class="panel-body">

  <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <i class="fa fa-file-text pull-left"></i>
                                <h5>Descripcion del Proyecto</h5>
                            </div>



                            <div class="ibox-content">
                                <h4 class="no-margins">
                                	{{proyects.description}}

                                </h4>
                                
                            </div>



 <div class="col-xs-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-slack pull-left"></i>
                                <h5>Estado</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{{proyects.status}}</h1>
                            </div>
                        </div>
 </div>



 <div class="col-xs-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-slack pull-left"></i>
                                <h5>Paquete</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{{proyects.package}}</h1>
                            </div>
                        </div>
 </div>







                        </div>


                                        </div>
                                        </div>





</div>
            </div>
        </div>
    </div>
    <div class="row">



    </div>
</div>

</div>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ STATIC_URL }}file/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ STATIC_URL }}file/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="{{ STATIC_URL }}file/js/jquery.fileupload.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->

<script src="{{ STATIC_URL }}file/js/jquery.cookie.js"></script>

<script src="{{ STATIC_URL }}file/js/viewscontent.js"></script>



</body> 
</html>

{% endblock %}