<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />

	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, maximum-scale=1" />
	 <title>{% block title %}Ticsup System{% endblock %}</title>
<link rel="stylesheet" href="#" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 {% block scripts %}{% endblock %}
</head>
<body>

	<header>
		<figure id="logo">
			<img src="#" />
		</figure>
	</header>

	<div id="sidebar">
        {% block sidebar %}
        	<!-- Informacion Sidebar -->
        {% endblock %}
    </div>
			
 <div id="content">
        {% block content %}<!-- Contenido -->{% endblock %}
    </div>

	<footer>
		<div id="footer">
       Aqui va el footer
    </div>
	</footer>
</body>
</html>



