<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />

	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, maximum-scale=1" />
	 <title>{% block title %}Ticsup System{% endblock %}</title>
<link rel="stylesheet" href="#" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<!-- Generic page styles -->
<link rel="stylesheet" href="{{ STATIC_URL }}file/css/style.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{ STATIC_URL }}file/css/jquery.fileupload-ui.css">


 {% block scripts %}{% endblock %}
</head>
<body>

	<header>
		<figure id="logo">
			<img src="#" />
		</figure>
	</header>

	<div id="sidebar">
        {% block sidebar %}
        	<!-- Informacion Sidebar -->
        {% endblock %}
    </div>
			
 <div id="content">
        {% block content %}<!-- Contenido -->{% endblock %}
    </div>

	<footer>
		<div id="footer">
       Aqui va el footer
    </div>

	</footer>
</body>
</html>



