{% extends "base.html" %}
{% load paymenttag %} 
{% block title %}Realizar Pago{% endblock %}

{% block scripts %}

<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>

<script type="text/javascript">
$(document).ready(function () {
	Conekta.setPublishableKey('key_IdsUeHBSgUqUfCJx');
	$('#cardform').submit(function(event) {
		event.preventDefault();
		var $form = $(this);
		$form.find("button").prop("disabled", true);
		Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
	});

	var conektaSuccessResponseHandler;
	conektaSuccessResponseHandler = function(token) {
		var $form;
		$form = $("#cardform");
		/* Inserta el token_id en la forma para que se envíe al servidor */
		$form.append($("<input type=\"hidden\" name=\"conektaTokenId\" />").val(token.id));
		$form.append($("<input type=\"hidden\" name=\"paymentcard\" />"));
		/* and submit */
		$form.get(0).submit();
		console.log('Enviado');
	};
	var conektaErrorResponseHandler = function(response) {
		console.log('Tokenerror');
		$('#cardform').find('button').prop('disabled', false);
	};
});
</script>
{% endblock %}

{% block content %}
{% load tz %}
 <link rel="stylesheet" href="{{ STATIC_URL }}css/card.css">
<div class="row wrapper border-bottom white-bg page-heading">


	<div class="col-lg-10">
		<!-- Titulo-->
		<h2>{{payment.name}}</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#">{{payment.name}}</a>
			</li>
			<li class="active">
				<strong>Realizar Pago</strong>
			</li>
		</ol>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button></li>
		{% endfor %}
	</ul>
	{% endif %}

	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content text-center p-md">
					<section id="contenido">
						<div class="row">
							<div class="col-md-4">
								<div class="ibox float-e-margins">
									<div class="ibox-title">
										<i class="fa fa-folder pull-left"></i>
										<h5>Concepto Relacionado</h5>
									</div>
									<div class="ibox-content">
										<h3 class="no-margins">{% if payment.content_type.id == 11 %}
											<a href="{% url "customerPaymentPayProyect" payment.content_object.pk %}">{{payment.content_object}}</a>
											{% endif %}
											{% if payment.content_type.id == 21 %}
											<a href="{% url "customerHostingDetail" payment.content_object.pk %}">{{payment.content_object}}</a>
											{% endif %}
											{% if payment.content_type.id == 23 %}
											<a href="{% url "customerDomainDetail" payment.content_object.pk %}">{{payment.content_object}}</a>
											{% endif %}</h3>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="ibox float-e-margins">
										<div class="ibox-title">

											<i class="fa fa-dollar pull-left"></i>
											<h5>Monto</h5>
										</div>
										<div class="ibox-content">
											<h3 class="no-margins">{{payment.mount}}</h3>
										</div>
									</div>
								</div>



								<div class="col-md-4">
									<div class="ibox float-e-margins">
										<div class="ibox-title">

											<i class="fa fa-dollar pull-left"></i>
											<h5>Estado del pago</h5>
										</div>
										<div class="ibox-content">
											<h3 class="no-margins">{% status_payment payment.status %}</h1>
											</div>
										</div>
									</div>

									{% if payment.status == 2 %}

									<div class="col-lg-2">
										<div class="ibox float-e-margins">
											<div class="ibox-title">

												<i class="fa fa-dollar pull-left"></i>
												<h5>Fecha de Pago</h5>
											</div>
											<div class="ibox-content">
												<h3 class="no-margins">{% timezone "America/Mexico_City" %}{{payment.date|date:"M d, Y"}} 
													{% endtimezone %}</h3>
												</div>
											</div>
										</div>



										{% endif %}

										{% if payment.status == 2 %}

										<div class="col-lg-2">
											<div class="ibox float-e-margins">
												<div class="ibox-title">

													<i class="fa fa-dollar pull-left"></i>
													<h5>Metodo</h5>
												</div>
												<div class="ibox-content">
													<h3 class="no-margins">{{payment.method}}</h1>
													</div>
												</div>
											</div>



											{% endif %}
										</div>


										{% if payment.status == 1 %}				

										<section id="payforms">

											<span class="descripcion1">Pagar Ahora, elige tu forma de pago:</span>

											<!-- Pago 1-->
											<div class="panel panel-default">
												<div class="panel-heading">
													<h5 class="panel-title">                              
														<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed" >Tarjeta de Credito</a>
													</h5>
												</div>
												<div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
													<div class="panel-body">
														<div class="col-md-4">
														</div>                    
														<div class="col-md-4" style="text-align: center; margin: 0 auto;">

Aceptamos las siguientes tarjetas:
<p></p>
															<i class="fa fa-cc-visa" style="font-size: 25px;
															"></i>
															<i class="fa fa-cc-mastercard" style="font-size: 25px;
															"></i>
															<i class="fa fa-cc-discover" style="font-size: 25px;
															"></i>
															<i class="fa fa-cc-amex" style="font-size: 25px;
															"></i>
<p></p>



<div class="cardform1">
<form method="POST" id="cardform" enctype='multipart/form-data'>
		{% csrf_token %}
    <div class="form-container">
      <div class="personal-information">
        <h1>Información de pago</h1>
      </div> <!-- end of personal-information -->

    
    <div class="card-wrapper"></div>
      <input id="input-field" type="text" data-conekta="card[name]"/ name="first-name" placeholder="Nombre del tarjetahabiente"/>
      
      <input id="input-field" type="text" data-conekta="card[number]" name="number" placeholder="Número de tarjeta de crédito"/>
      
            <div class="personal-information-2">
        <h1>Fecha de expiración:</h1>
      </div>
      <input id="column-left" type="text" data-conekta="card[exp_month]" name="expiry" placeholder="Mes"/>
      
      <input id="column-left" type="text" data-conekta="card[exp_year]" name="expiry" placeholder="Año"/>
                  <div class="personal-information-2">
        <h1>Codigo de seguridad:</h1>
      </div>
        
      <input id="input-field" type="text" data-conekta="card[cvc]" name="cvc" placeholder="CCV"/>
    
      <input id="input-button" type="submit" name="paymentcard" value="Enviar pago"/>
    </form>
  </div> <!-- end of form-container -->
  </div>

<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/121761/card.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/121761/jquery.card.js'></script>

        <script src="{{ STATIC_URL }}js/card.js"></script>






															
															
															
															
															
															
															
															
															
														</div>


													</div>
												</div>
											</div>


											<!-- Pago 2-->
											<div class="panel panel-default" style="clear: both;">
												<div class="panel-heading">
													<h5 class="panel-title">                         
														<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" class="collapsed" >Paypal</a>
													</h5>
												</div>
												<div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
													<div class="panel-body">
														{{ form.render }}
													</div>
												</div>
											</div>


											<!-- Pago 3-->
											<div class="panel panel-default">
												<div class="panel-heading">
													<h5 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" class="collapsed" >OXXO</a>
													</h5>
												</div>
												<div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
													<div class="panel-body">
														<form method="POST" id="oxxoform" target="_blank" enctype='multipart/form-data'>
															{% csrf_token %}
															<button type="submit" name="paymentcash" class="btn btn-sm btn-primary">Pagar</button>
														</form>
													</div>
												</div>
											</div>

										</section>
										{% endif %}
									</section>
</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				{% endblock %}