<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />

	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, maximum-scale=1" />

	<title>Datos del pago</title>
	<link rel="stylesheet" href="#" />
	
</head>
<body>
	<!-- comentario de lo que sea -->
	<header>
		<figure id="logo">
			<img src="#" />
		</figure>
		<h1 id="titulo_header">Detalles del pago</h1> <!-- Accedemos al nombre usuario obteniendo de cualquier objeto el usuario -->
	</header>
	
	<section id="contenido">
			<h2 class="titulo_item">
				<a href="#">{{payments.name}}</a>
			</h2>

<h3 class="titulo_item">
				<a href="#">{{payments.description}}</a>
			</h3>

			<h3 class="titulo_item">
				<a href="#">{{payments.proyect}}</a>
			</h3>

			<h3 class="titulo_item">
				<a href="#">{{payments.mount}}</a>
			</h3>

			<h3 class="titulo_item">
				<a href="#">{{payments.method}}</a>
			</h3>

			<h3 class="titulo_item">
				<a href="#">{{payments.status}}</a>
			</h3>

			<h3 class="titulo_item">
				<a href="#">{{payments.date}}</a>
			</h3>
			
	</section>

	<footer>
	</footer>
</body>
</html>




