{% extends "base.html" %}

{% block title %}Detalles del Pago{% endblock %}

{% block content %}
<section id="contenido">
			<h2 class="titulo_item">
				<a href="#">{{payments.name}}</a>
			</h2>

<h3 class="titulo_item">
				<a href="#">{{payments.description}}</a>
			</h3>

			<h3 class="titulo_item">
				<a href="#">{{payments.proyect}}</a>
			</h3>

			<h3 class="titulo_item">
				<a href="#">{{payments.mount}}</a>
			</h3>

			<h3 class="titulo_item">
				<a href="#">{{payments.method}}</a>
			</h3>

			<h3 class="titulo_item">
				<a href="#">{{payments.status}}</a>
			</h3>

			<h3 class="titulo_item">
				<a href="#">{{payments.date}}</a>
			</h3>
			
	</section>
{% endblock %}

