{% extends "base.html" %}
{% load paymenttag %} 
{% block title %}Pago de Proyecto{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>
<script type="text/javascript">
$(document).ready(function () {
 Conekta.setPublishableKey('key_IdsUeHBSgUqUfCJx');
 $('#cardform').submit(function(event) {
 event.preventDefault();
 var $form = $(this);
$form.find("button").prop("disabled", true);
 Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
 });

 var conektaSuccessResponseHandler;
conektaSuccessResponseHandler = function(token) {
  var $form;
  $form = $("#cardform");
/* Inserta el token_id en la forma para que se envíe al servidor */
  $form.append($("<input type=\"hidden\" name=\"conektaTokenId\" />").val(token.id));
  $form.append($("<input type=\"hidden\" name=\"paymentcard\" />"));
/* and submit */
  $form.get(0).submit();
  console.log('Enviado');
};
var conektaErrorResponseHandler = function(response) {
	  console.log('Tokenerror');
 $('#cardform').find('button').prop('disabled', false);
};
});
</script>
{% endblock %}

{% block content %}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <!-- Titulo-->
        <h2>{{proyects.name}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">{{proyects.name}}</a>
            </li>
            <li class="active">
                <strong>Pago de proyecto</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">





	<section id="contenido">

<div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-folder pull-left"></i>
                                <h5>Nombre del Proyecto</h5>
                            </div>
                            <div class="ibox-content">
                                <h3 class="no-margins">{{proyects.name}}</h1>
                            </div>
                        </div>
 </div>


<div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-dollar pull-left"></i>
                                <h5>Monto Total</h5>
                            </div>
                            <div class="ibox-content">
                                <h3 class="no-margins">{{proyects.mount}}</h1>
                            </div>
                        </div>
 </div>



<div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-dollar pull-left"></i>
                                <h5>Avance de Pago</h5>
                            </div>
                            <div class="ibox-content">
                                <h3 class="no-margins">{{proyects.advancepayment}}</h1>
                            </div>
                        </div>
 </div>



<div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                
                                <i class="fa fa-dollar pull-left"></i>
                                <h5>Restante</h5>
                            </div>
                            <div class="ibox-content">
                                <h3 class="no-margins">{{proyects.remaingpayment}}</h1>
                            </div>
                        </div>
 </div>





<section id="payforms">


<span class="descripcion1">Escoje tu forma de pago:</span>

<!-- Pago 1-->
<div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                                
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed" >Tarjeta de Credito</a>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                            <div class="panel-body">
                                               



<div class="col-md-4">



</div>

<div class="col-md-4" style="text-align: center; margin: 0 auto;">

<i class="fa fa-cc-visa" style="font-size: 25px;
"></i>
<i class="fa fa-cc-mastercard" style="font-size: 25px;
"></i>
<i class="fa fa-cc-discover" style="font-size: 25px;
"></i>
<i class="fa fa-cc-amex" style="font-size: 25px;
"></i>

	<form method="POST" id="cardform" enctype='multipart/form-data'>
		{% csrf_token %}
  <span class="card-errors"></span>
  <div class="form-row">
    <label>
      <span>Nombre del tarjetahabiente</span>
      <input type="text" size="20" data-conekta="card[name]"/ class="campopago1 form-control">
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Número de tarjeta de crédito</span>
      <input type="text" size="20" data-conekta="card[number]" class="campopago1 form-control"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      CVC <a href="#" data-toggle="tooltip" data-placement="right" title="Numero de 3 digitos localizado al reverso de la tarjeta de credito"><i class="fa fa-question-circle" ></i></a>

      <input type="text" size="4" data-conekta="card[cvc]" class="form-control" style="width: 100px;"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Expiración (MM/AAAA)</span>

      <input type="text" size="2" data-conekta="card[exp_month]" class="inputmy" style="width: 50px;"/>
    </label>
    <span>/</span>
    <input type="text" size="4" data-conekta="card[exp_year]" class="inputmy" style="width: 60px;"/>
  </div>
  <button type="submit" name="paymentcard" class="btn btn-sm btn-primary">Pagar</button>
  
</form>
</div>



                                            </div>
                                        </div>
                                    </div>





<!-- Pago 2-->
<div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                                
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" class="collapsed" >Paypal</a>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                            <div class="panel-body">
{{ form.render }}

                                            </div>
                                        </div>
                                    </div>



<!-- Pago 3-->
<div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                                
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" class="collapsed" >OXXO</a>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                            <div class="panel-body">
<form method="POST" id="oxxoform" target="_blank" enctype='multipart/form-data'>
        {% csrf_token %}
  <button type="submit" name="paymentcash" class="btn btn-sm btn-primary">Pagar</button>
  
</form>
                                            </div>
                                        </div>
                                    </div>




	</section>
	</section>


{% if payments %}
        

<div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h2>Lista de Pagos</h2>
                                        </div>
                                        <div class="panel-body">
<div class="ibox-content">

                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    
                                    
                                    <th>Nombre del pago</th>
                                    <th>Servicio/Proyecto</th>
                                    <th>Monto</th>
                                    <th>Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                



                            

{% for payment in payments %}
    
         <tr>
                                    
                                   
                                    <td><a href="{% url "customerPaymentDetail" payment.pk %}">{{payment.name}}</a></td>
                                    <td class="text-navy" class="pull-left">

           <a href="{% url "customerProyectDetail" payment.content_object.pk %}">{{payment.content_object}}</a>

                                        </td>
                                    <td class="text-navy" class="pull-left">{{payment.mount}}</td>
                                    <td class="text-navy" class="pull-left">{% status_payment payment.status %}</td>
                                </tr>
{% endfor %}




        {% else %}
            No hay pagos
        {% endif %}




			      </div>
            </div>
        </div>
    </div>
    <div class="row">



    </div>


</div>

{% endblock %}