{% extends "base.html" %}

{% block title %}Realiza un abono{% endblock %}

{% block content %}




<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <!-- Titulo-->
        <h2>Realizar Pago</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Pagos</a>
            </li>
            <li class="active">
                <strong>Realizar Pago</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>





<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">





<div id="realizar_pago">
	<form id='formulario' method='post' enctype='multipart/form-data' action='/customer/payments/pay/'>
		{% csrf_token %}
<ul>
	{{ form.as_ul}}
		<p><input type='submit' name'submilt' value='Enviar'/></p>
	</form>
			
	</div>



</div>
            </div>
        </div>
    </div>
    <div class="row">



    </div>


</div>



{% endblock %}


