{% extends "base.html" %}

{% block title %}Detalle de Pagos{% endblock %}

{% block content %}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <!-- Titulo-->
        <h2>Historial de Pagos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Pagos</a>
            </li>
            <li class="active">
                <strong>Ver Pagos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">



<section id="proyectos">

		<h2 id="titulo_header">Tus Pagos son</h2>
	    {% if payments %}
	    
	    {% for payment in payments %}
		<div class="item">
			<h2 class="titulo_item">
				<a href="{% url "customerPaymentDetail" payment.pk %}">{{payment.name}}</a>
			</h2>

		</div>
		{% endfor %}
		{% else %}
		    No hay proyectos
		{% endif %}
	</section>


	</div>
            </div>
        </div>
    </div>
    <div class="row">



    </div>


</div>

{% endblock %}