{% extends "base.html" %}

{% block title %}Pago Completado{% endblock %}

{% block content %}




<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <!-- Titulo-->
        <h2>Gracias por su pago</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Pagos</a>
            </li>
            <li class="active">
                <strong>Realizar Pago</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

<p>Hemos Recibido su pago de: ${{mount}} de forma correcta</p>

<p>Puede regresar al resumen de su pedido</p>
<a href="{% url "customerProyectDetail" idproyect %}">Regresar</a>
</div>
            </div>
        </div>
    </div>
    <div class="row">



    </div>


</div>



{% endblock %}

